# VS Code as default
export EDITOR="code"

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"

# Prefer US English and use UTF-8
export LC_ALL="en_US.UTF-8"
export LANG="en_US"

export HOMEBREW_CASK_OPTS="--appdir=/Applications"

#Setting essential paths
export PATH=~/Dropbox/go:$PATH
export PATH=~/Dropbox/go/bin:$PATH
export PATH=~/dev/ghosts:$PATH

# here's LS_COLORS
# github.com/trapd00r/LS_COLORS
command -v gdircolors >/dev/null 2>&1 || alias gdircolors="dircolors"
eval "$(gdircolors -b ~/.dircolors)"

#readpath function
function readpath() {
	echo $PATH | tr : "\n"
}

#Git-friendly functions
export PATH=~/dev/git-friendly:$PATH

#setting GOPATH to Dropbox
export GOPATH=/Users/esadkiris/Dropbox/go
export GOMODCACHE=/Users/esadkiris/Dropbox/go/pkg/mod
      
